useDynLib(NNMF, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(groupondist)
export(nnmf)
export(topfeatures)
export(estimate_lengthscale)
export(dist_fun)
export(nn_adj)
export(dispersion_est)